In [1]:
import pandas as pd
import numpy as np

s = pd.Series([1,2,4,123])
s

0      1
1      2
2      4
3    123
dtype: int64

In [2]:
datalist = np.array([2,12,223,3])
print('len= '+str(len(datalist)))
s = pd.Series(datalist)
s
print('s[2]='+str(s[2]))
print(s[1])

len= 4
s[2]=223
12

In [3]:
p = pd.Series(datalist,index = [100,101,102,105])
p

100      2
101     12
102    223
105      3
dtype: int32

In [4]:
data2 = 5
da2 = pd.Series(data2, index = [1, 3, 4])
da2

1    5
3    5
4    5
dtype: int64

In [5]:
data1 = {'a':2,'b':44,'c':2,'3':88}
dal = pd.Series(data1, index = ['a','3','d','c'])
print(dal['3'])
print(dal[:4])
dal

88.0
a     2.0
3    88.0
d     NaN
c     2.0
dtype: float64

a     2.0
3    88.0
d     NaN
c     2.0
dtype: float64

## DataFrame

In [6]:
f1 = pd.DataFrame()
print(f1)
f1

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

In [7]:
list1 = [1,23,33,4,3]
f2 = pd.DataFrame(list1)
f2

    0
0   1
1  23
2  33
3   4
4   3

In [8]:
print(f2)

    0
0   1
1  23
2  33
3   4
4   3

In [9]:
list3 = [["liu",2],['sun',8],['bule','jun']]
f3 = pd.DataFrame(list3)
f3

      0    1
0   liu    2
1   sun    8
2  bule  jun

## 字典

In [10]:
list4 = [{'liu':'kk','jun':'as'},{'liu':'bb','jun':'ss','hell':'kk9'}]
list4

[{'liu': 'kk', 'jun': 'as'}, {'liu': 'bb', 'jun': 'ss', 'hell': 'kk9'}]

In [11]:
f5 = pd.DataFrame(list4)
f5

  hell jun liu
0  NaN  as  kk
1  kk9  ss  bb

In [12]:
f6 = pd.DataFrame(list4,index = ['fies','sec'])
f6['jun']

fies    as
sec     ss
Name: jun, dtype: object

In [13]:
f7 = pd.DataFrame(list4, index = ['no1','no2'], columns = ['liu', 'jun'])
f7

    liu jun
no1  kk  as
no2  bb  ss

# 字典的系列可以传递以形成一个DataFrame。 所得到的索引是通过的所有系列索引的并集。

In [14]:
list18 = {'one':pd.Series([1,3,2,],index=['ll','kk','jj']), 'two':pd.Series([33,23,22],index=['ll','kk','bb'])}
f8 = pd.DataFrame(list18)
f8

    one   two
bb  NaN  22.0
jj  2.0   NaN
kk  3.0  23.0
ll  1.0  33.0

# 列选择

In [15]:
f8['one','two']

KeyError: ('one', 'two')

In [21]:
f8['one'].tolist()

[nan, 2.0, 3.0, 1.0]

## 列添加

In [22]:
f8['three'] = pd.Series(['99','990','88'],index = ['ll','kk','bb'])
f8

    one   two three
bb  NaN  22.0    88
jj  2.0   NaN   NaN
kk  3.0  23.0   990
ll  1.0  33.0    99

# 列删除

In [23]:
unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])
unsorted_df

       col2      col1
1 -0.289863 -0.182673
4  0.751428  0.256986
6 -0.501273 -0.499322
2 -0.344751  0.442320
3  0.567294 -0.908392
5  0.703706 -0.306565
9 -0.476094 -1.116332
8  0.485433 -0.908141
0  0.120665 -0.001253
7 -1.408942 -0.479241

In [24]:
sort_df = unsorted_df.sort_index()
sort_df

       col2      col1
0  0.120665 -0.001253
1 -0.289863 -0.182673
2 -0.344751  0.442320
3  0.567294 -0.908392
4  0.751428  0.256986
5  0.703706 -0.306565
6 -0.501273 -0.499322
7 -1.408942 -0.479241
8  0.485433 -0.908141
9 -0.476094 -1.116332

In [25]:
sort_udf = unsorted_df.sort_index (ascending = False)
sort_udf

       col2      col1
9 -0.476094 -1.116332
8  0.485433 -0.908141
7 -1.408942 -0.479241
6 -0.501273 -0.499322
5  0.703706 -0.306565
4  0.751428  0.256986
3  0.567294 -0.908392
2 -0.344751  0.442320
1 -0.289863 -0.182673
0  0.120665 -0.001253

In [26]:
kk = unsorted_df.sort_index(axis = 1)
kk

       col1      col2
1 -0.182673 -0.289863
4  0.256986  0.751428
6 -0.499322 -0.501273
2  0.442320 -0.344751
3 -0.908392  0.567294
5 -0.306565  0.703706
9 -1.116332 -0.476094
8 -0.908141  0.485433
0 -0.001253  0.120665
7 -0.479241 -1.408942

In [27]:
kk1 = kk.sort_values(by = 'col1')
kk1

       col1      col2
9 -1.116332 -0.476094
3 -0.908392  0.567294
8 -0.908141  0.485433
6 -0.499322 -0.501273
7 -0.479241 -1.408942
5 -0.306565  0.703706
1 -0.182673 -0.289863
0 -0.001253  0.120665
4  0.256986  0.751428
2  0.442320 -0.344751

In [28]:
kk2 = kk.sort_values(by = ['col1','col2'])
kk2

       col1      col2
9 -1.116332 -0.476094
3 -0.908392  0.567294
8 -0.908141  0.485433
6 -0.499322 -0.501273
7 -0.479241 -1.408942
5 -0.306565  0.703706
1 -0.182673 -0.289863
0 -0.001253  0.120665
4  0.256986  0.751428
2  0.442320 -0.344751

In [29]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],          
        'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
kk3 = pd.DataFrame(ipl_data)
kk3

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [30]:
kk3.groupby('Team')

In [31]:
kk4 =kk3.groupby('Team').groups
kk4

{'Devils': Int64Index([2, 3], dtype='int64'),
 'Kings': Int64Index([4, 6, 7], dtype='int64'),
 'Riders': Int64Index([0, 1, 8, 11], dtype='int64'),
 'Royals': Int64Index([9, 10], dtype='int64'),
 'kings': Int64Index([5], dtype='int64')}

In [32]:
kk5 = kk3.groupby(['Team','Year']).groups
kk5

{('Devils', 2014): Int64Index([2], dtype='int64'),
 ('Devils', 2015): Int64Index([3], dtype='int64'),
 ('Kings', 2014): Int64Index([4], dtype='int64'),
 ('Kings', 2016): Int64Index([6], dtype='int64'),
 ('Kings', 2017): Int64Index([7], dtype='int64'),
 ('Riders', 2014): Int64Index([0], dtype='int64'),
 ('Riders', 2015): Int64Index([1], dtype='int64'),
 ('Riders', 2016): Int64Index([8], dtype='int64'),
 ('Riders', 2017): Int64Index([11], dtype='int64'),
 ('Royals', 2014): Int64Index([9], dtype='int64'),
 ('Royals', 2015): Int64Index([10], dtype='int64'),
 ('kings', 2015): Int64Index([5], dtype='int64')}

# format

In [33]:
print('{},{}'.format('liu','jun'))

liu,jun

In [34]:
print('{0}{1}'.format('liu','jun'))

liujun

In [35]:
print('{1},{0},{1}'.format('liu','jun'))

jun,liu,jun

In [36]:
print('{name},{age}'.format(name='liu',age=18))

liu,18

In [37]:
list1=['ni','hao','21']
ss = 'wold ssi {}'.format(list1)
ss

"wold ssi ['ni', 'hao', '21']"

In [38]:
b_dict={"name":'liu', "sex":'nan'}
kk = 'wold shift {name},sex is {sex}'.format(**b_dict)
kk

'wold shift liu,sex is nan'

In [39]:
listkk= ['12',"nin",'hao']
s1 = ','.join(listkk)
s1

'12,nin,hao'

In [40]:
s2 = ','.join("'"+x+"'" for x in listkk)
s2

"'12','nin','hao'"

In [41]:
from numpy import nan as NaN
df1=pd.DataFrame([[1,2,3],[NaN,NaN,2],[NaN,NaN,NaN],[8,8,NaN]])
df1

     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
2  NaN  NaN  NaN
3  8.0  8.0  NaN

In [42]:
df1.fillna(0)

     0    1    2
0  1.0  2.0  3.0
1  0.0  0.0  2.0
2  0.0  0.0  0.0
3  8.0  8.0  0.0

In [43]:
import numpy as np
df=pd.DataFrame(np.arange(16).reshape((4,4)),index=list(range(4)),columns=['a','b','c','d'])

In [44]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [45]:
df.loc[1:3,['b','c']]

    b   c
1   5   6
2   9  10
3  13  14

In [46]:
df['b']

0     1
1     5
2     9
3    13
Name: b, dtype: int32

In [47]:
df[0:2]

   a  b  c  d
0  0  1  2  3
1  4  5  6  7

In [48]:
df.loc[df.loc[:,'a']>1]

    a   b   c   d
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [49]:
df.d

0     3
1     7
2    11
3    15
Name: d, dtype: int32

In [50]:
size_list = ['a','b','c','d']

for i in size_list:
    print(df.loc[df[i],i])

0     0.0
4     NaN
8     NaN
12    NaN
Name: a, dtype: float64
1     5.0
5     NaN
9     NaN
13    NaN
Name: b, dtype: float64
2     10.0
6      NaN
10     NaN
14     NaN
Name: c, dtype: float64
3     15.0
7      NaN
11     NaN
15     NaN
Name: d, dtype: float64

C:\Users\liuju\AppData\Local\Continuum\anaconda3\envs\python3.6\lib\site-packages\pandas\core\indexing.py:1017: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return getattr(section, self.name)[new_key]

In [51]:
for i in size_list:
    df.loc[df[i]<3,i] =0
    df.loc[df[i]>5,i] =1
df

   a  b  c  d
0  0  0  0  3
1  4  5  1  1
2  1  1  1  1
3  1  1  1  1

In [52]:
fs11 = pd.DataFrame([[21, 1.0,3.0,1],
                   [31, 4.0,5.0,2],
                   [21, 4.0,5.0,-3],
                   [5, 0.0,6.0,4]],

columns = list('ABCD'))
fs11

    A    B    C  D
0  21  1.0  3.0  1
1  31  4.0  5.0  2
2  21  4.0  5.0 -3
3   5  0.0  6.0  4

In [53]:
fs11.cumsum(axis=1)

      A     B     C     D
0  21.0  22.0  25.0  26.0
1  31.0  35.0  40.0  42.0
2  21.0  25.0  30.0  27.0
3   5.0   5.0  11.0  15.0

In [54]:
fs11['max'] = fs11['A']+fs11['B']
fs11

    A    B    C  D   max
0  21  1.0  3.0  1  22.0
1  31  4.0  5.0  2  35.0
2  21  4.0  5.0 -3  25.0
3   5  0.0  6.0  4   5.0

In [55]:

fs11['sum'] = fs11['D'].cumsum()
fs11

    A    B    C  D   max  sum
0  21  1.0  3.0  1  22.0    1
1  31  4.0  5.0  2  35.0    3
2  21  4.0  5.0 -3  25.0    0
3   5  0.0  6.0  4   5.0    4

In [56]:
import numpy as np

df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','z'], columns = ['A', 'B', 'C', 'D'])
df

          A         B         C         D
a  1.267206  0.180002  0.213462 -0.031348
b -0.601295  0.952704 -0.363184 -0.423777
c  1.623423 -0.622839  1.525639  0.463895
d -0.327884  0.379714  2.330876  0.870732
e  0.172845 -1.933604  0.939067  0.571657
f  0.637414  0.164608 -0.080199  0.019593
g -1.144276 -0.139868  0.454227  0.408457
z -1.268667  0.059948 -0.087512 -0.587917

In [57]:
df['A']

a    1.267206
b   -0.601295
c    1.623423
d   -0.327884
e    0.172845
f    0.637414
g   -1.144276
z   -1.268667
Name: A, dtype: float64

In [58]:
df.loc[:,['A','D']]

          A         D
a  1.267206 -0.031348
b -0.601295 -0.423777
c  1.623423  0.463895
d -0.327884  0.870732
e  0.172845  0.571657
f  0.637414  0.019593
g -1.144276  0.408457
z -1.268667 -0.587917

In [59]:
df.loc[df['D']<0, 'D'] = 0
df

          A         B         C         D
a  1.267206  0.180002  0.213462  0.000000
b -0.601295  0.952704 -0.363184  0.000000
c  1.623423 -0.622839  1.525639  0.463895
d -0.327884  0.379714  2.330876  0.870732
e  0.172845 -1.933604  0.939067  0.571657
f  0.637414  0.164608 -0.080199  0.019593
g -1.144276 -0.139868  0.454227  0.408457
z -1.268667  0.059948 -0.087512  0.000000

In [60]:
df.loc[['a','e'],['A','D']]

          A         D
a  1.267206  0.000000
e  0.172845  0.571657

In [61]:
df.loc['a':'e',['A','D']]

          A         D
a  1.267206  0.000000
b -0.601295  0.000000
c  1.623423  0.463895
d -0.327884  0.870732
e  0.172845  0.571657

In [62]:
df.loc['a':'e']

          A         B         C         D
a  1.267206  0.180002  0.213462  0.000000
b -0.601295  0.952704 -0.363184  0.000000
c  1.623423 -0.622839  1.525639  0.463895
d -0.327884  0.379714  2.330876  0.870732
e  0.172845 -1.933604  0.939067  0.571657

# loc 两个是参数，前面一个是判断条件，缺失的时候，考虑那个是默认的. 第一个参数是行或者判断条件，第一个参数是列，缺失的情况下 默认是所有

In [63]:
df.loc['a']

A    1.267206
B    0.180002
C    0.213462
D    0.000000
Name: a, dtype: float64

In [64]:
df.loc[:,'A']

a    1.267206
b   -0.601295
c    1.623423
d   -0.327884
e    0.172845
f    0.637414
g   -1.144276
z   -1.268667
Name: A, dtype: float64

# 第一个参数是条件：列A 所有大于0的数，第二个参数是对应的列

In [65]:
df.loc[df['A']>0,'A']=0

In [66]:
df

          A         B         C         D
a  0.000000  0.180002  0.213462  0.000000
b -0.601295  0.952704 -0.363184  0.000000
c  0.000000 -0.622839  1.525639  0.463895
d -0.327884  0.379714  2.330876  0.870732
e  0.000000 -1.933604  0.939067  0.571657
f  0.000000  0.164608 -0.080199  0.019593
g -1.144276 -0.139868  0.454227  0.408457
z -1.268667  0.059948 -0.087512  0.000000

In [67]:
df['sumCD'] = df['C']+df['D']
df

          A         B         C         D     sumCD
a  0.000000  0.180002  0.213462  0.000000  0.213462
b -0.601295  0.952704 -0.363184  0.000000 -0.363184
c  0.000000 -0.622839  1.525639  0.463895  1.989534
d -0.327884  0.379714  2.330876  0.870732  3.201609
e  0.000000 -1.933604  0.939067  0.571657  1.510724
f  0.000000  0.164608 -0.080199  0.019593 -0.060606
g -1.144276 -0.139868  0.454227  0.408457  0.862685
z -1.268667  0.059948 -0.087512  0.000000 -0.087512

In [68]:
df['test'] = df['A'].sum()
df

          A         B         C         D     sumCD      test
a  0.000000  0.180002  0.213462  0.000000  0.213462 -3.342122
b -0.601295  0.952704 -0.363184  0.000000 -0.363184 -3.342122
c  0.000000 -0.622839  1.525639  0.463895  1.989534 -3.342122
d -0.327884  0.379714  2.330876  0.870732  3.201609 -3.342122
e  0.000000 -1.933604  0.939067  0.571657  1.510724 -3.342122
f  0.000000  0.164608 -0.080199  0.019593 -0.060606 -3.342122
g -1.144276 -0.139868  0.454227  0.408457  0.862685 -3.342122
z -1.268667  0.059948 -0.087512  0.000000 -0.087512 -3.342122

In [69]:
sale_data = {'prod_id': ['1101', '1101', '1107', '1107', '11071',
         '1102', '11022', '2200', '3300', '999', '44', '66'],
         'size_id': [12, 12, 233, 233, 21,888 ,888,144,277 , 477,177,2888],
         'Year': [2014-1,2015-3,2014-3,2015-9,2014-1,2015,2016,2017,2016,2014,2015,2017],          
        'qty':[8,79,863,73,1,0,756,0,64,7,8,6]}
sale_data = pd.DataFrame(sale_data)

In [70]:
sale_data

   prod_id  size_id  Year  qty
0     1101       12  2013    8
1     1101       12  2012   79
2     1107      233  2011  863
3     1107      233  2006   73
4    11071       21  2013    1
5     1102      888  2015    0
6    11022      888  2016  756
7     2200      144  2017    0
8     3300      277  2016   64
9      999      477  2014    7
10      44      177  2015    8
11      66     2888  2017    6

In [71]:
sale_data.set_index(['prod_id','size_id'],inplace = True)

In [72]:
sale_data

                 Year  qty
prod_id size_id
1101    12       2013    8
        12       2012   79
1107    233      2011  863
        233      2006   73
11071   21       2013    1
1102    888      2015    0
11022   888      2016  756
2200    144      2017    0
3300    277      2016   64
999     477      2014    7
44      177      2015    8
66      2888     2017    6

In [ ]:
sale_data

In [ ]:
sale_data_1 = sale_data['qty'].sum(level = ['prod_id','size_id']).reset_index().rename(columns = {'qty':'sumaa'})
sale_data_1

lll = sale_data_1.set_index(['prod_id','size_id']).reset_index(['prod_id','size_id'])

In [ ]:
sale_data_1

In [ ]:
lll

In [ ]:
lll.reset_index()
lll

In [ ]:
sale_data['Year']

In [ ]:
type(sale_data['Year'])

In [ ]:
pd.to_datetime(sale_data['Year'])

In [ ]:
sale_data

In [ ]:
salemax = sale_data.groupby(['prod_id','size_id'])
salemax['qty'].max().reset_index().rename(columns={'qty':'max'})

In [ ]:
col_group = ['prod_id','size_id']
salemax = sale_data.groupby(col_group)['qty'].max().reset_index()

In [ ]:
salemax

In [ ]:
salemax.set_index(['prod_id','size_id'],inplace= True)
salemax

In [ ]:
salemax.loc[salemax['qty']>0].index

In [ ]:
salemax

In [ ]:
qq = salemax.reset_index().groupby(['prod_id','size_id']).count()
qq.columns = ['count']
qq

# sort_index()

In [ ]:
frame=pd.DataFrame(np.arange(12).reshape((4,3)),columns=['c','a','b'],index=['D','B','C','A'])

In [ ]:
frame

In [ ]:
frame.sort_index(inplace =True)

In [ ]:
frame

In [ ]:
frame_copy = frame.copy()

In [ ]:
frame_copy

In [ ]:
frame_copy['col'] = 1
frame_copy.set_index('col', inplace= True)
frame_copy

# append

In [ ]:
df1 = pd.DataFrame([[1, 2,7,7], [3, 4,8,8]], columns=list('ABCD'))
df1['is'] = 0
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
df2['is'] =1

In [ ]:
df1

In [ ]:
df2

In [ ]:
org = df1.append(df2, sort = False)

org

In [ ]:
org['col'] =1

In [ ]:
org

In [ ]:
org.fillna({'D':0})

In [ ]:
week_no = pd.DataFrame(list(range(-4,0)),columns = ['week_no'])
week_no

In [ ]:
week_no['col_on'] = 1

In [ ]:
week_no

In [ ]:
week_no.set_index('col_on',inplace =True)

In [ ]:
week_no

In [ ]:
sale_data

In [ ]:
qs = sale_data.reset_index().groupby(['prod_id','size_id']).count()

In [ ]:
qs

# drop

In [ ]:
sale_data.drop(['Year'],axis=1)

In [ ]:
sale_data

In [ ]:
sale_data.reset_index().drop([4])

In [ ]:
sale_data

In [ ]:
sale_copy = sale_data

# 删除列 drop

In [ ]:
sale_data.drop(columns = ['qty'],axis = 1,inplace =True)

In [ ]:
sale_data


# rename_axis

In [ ]:
sale_data.rename_axis(['A','b'])

In [ ]:
sale_data.reset_index(inplace = True)

# sum(axis=1)

In [ ]:
sale_data['sum'] = sale_data[['size_id','Year']].sum(axis=1)
sale_data

# datetime

In [ ]:
import datetime as dt

In [ ]:
date_dec = dt.datetime.now().date()

In [ ]:
date_dec

In [ ]:
date_cut = pd.to_datetime(date_dec - dt.timedelta(days= 7))

In [ ]:
date_cut

In [ ]:
sale_data

In [ ]:
sale_data['date_sell'] = '2019-04-01'

In [ ]:
sale_data

In [ ]:
sale_data['date_sell']= pd.to_datetime(sale_data['date_sell'])

In [ ]:
sale_data['week_no'] = (sale_data['date_sell'] -
                         pd.to_datetime(date_dec)).dt.days//7

In [ ]:
sale_data

In [ ]:
# sale_data.loc[sale_data['we']>2000,['prod_id','sieze_id']].index

In [ ]:
sale_data.index

In [ ]:
jaj = sale_data.reset_index(['prod_id','size_id']).groupby(['prod_id', 'size_id']).max()

In [ ]:
sale_data[sale_data['we']> 2200].index()

# dateutil.relativedelta import relativedalta

In [ ]:
from dateutil.relativedelta import relativedelta

In [ ]:
lastday = (date_dec - relativedelta(days= 1)).strftime('%Y-%m-%d')

In [ ]:
lastday

In [ ]:
lastmonth = (date_dec - relativedelta (months = 1)).strftime('%Y-%m-%d')

In [ ]:
lastmonth


# 时间间隔对象

In [ ]:
testtime = dt.timedelta(days = 7)

In [ ]:
testtime

In [ ]:
kk3 = pd.to_datetime('2030-5-10')
kk3

In [ ]:
kk3 > date_cut

In [ ]:
df

In [ ]:
sale_copy

In [ ]:
sale_copy.set_index(['prod_id','size_id']).groupby(['prod_id','size_id']).sum()

In [ ]:
sale_copy

In [ ]:
sale_copy.index.drop_duplicates()

In [ ]:
# sale_copy['size_id'].max(level = [])

In [ ]:
sale_copy

In [ ]:
sale_copy['col']=1

In [ ]:
sale_copy_1 = sale_copy

In [ ]:
# p1 = sale_copy_1.reset_index('col', inplace = True)
# p1

In [ ]:
# p = sale_copy.reset_index('col', inplace = True)
# p

In [ ]:
p1.join(p)

In [ ]:
sale_copy

In [ ]:
import numpy as np
sale_copy['we'] = sale_copy['sum'].map(lambda x: 1/(  1 + np.exp(-10 * (x+1))))

In [ ]:
sale_copy

In [ ]:
x =lambda x: 1/(1 + np.exp(-10 * (x+1)))

In [ ]:
x

In [ ]:
sale_data

# prod 返回请求轴的乘积

In [ ]:
sale_data[['sum','we']].prod(axis=1)

In [ ]:
#copy

In [ ]:
sale_data

In [ ]:
sale_pp = sale_data.loc[sale_data['Year'] == 2013, ['prod_id','size_id']].copy()

In [ ]:
sale_pp

In [ ]:
cols_grp2 = ['prod_id', 'color_id', 'mng_reg_id', 'size']

In [ ]:
cols_grp2[2]

In [ ]:
sale_data

In [16]:
sale_data.set_index(['prod_id','size_id'], inplace = True)

NameError: name 'sale_data' is not defined

In [ ]:
sale_data

In [ ]:
sale_data['sum'].max(level = ['prod_id','size_id'])

In [ ]:
sale_data['sum'].max()

In [ ]:
sale_data

In [ ]:
sale_data['sum'].mean(level = ['prod_id','size_id'])

In [ ]:
sale_data[['col','sum']].prod(axis =1)

In [ ]:
sale_data

In [ ]:
sale_data['col'].reset_index(['prod_id','size_id'])

In [ ]:
sale_data

In [ ]:
sale_data['yes'] = sale_data[['col','we']].sum(axis=1)

In [ ]:
sale_data

In [ ]:
sale_data.loc[sale_data['sum']>sale_data['col'], 'we'] =  sale_data.loc[sale_data['sum']>sale_data['col'],'sum']

In [ ]:
sale_data

# multiprocessing

In [ ]:
import multiprocessing
from multiprocessing import Pool, cpu_count

In [ ]:
cpu_count()

# map(func, iterable[, chunksize=None])
# Pool类中的map方法，与内置的map函数用法行为基本一致，它会使进程阻塞直到返回结果。 
# 注意，虽然第二个参数是一个迭代器，但在实际使用中，必须在整个队列都就绪后，程序才会运行子进程。

In [ ]:
sale_data

In [ ]:
sale_data.index.get_level_values(level = 'size_id')

# get_level_values uique()

In [ ]:
sale_data.index.get_level_values(level = 'size_id').unique()

In [ ]:
gg = sale_data.index.get_level_values(level = 'size_id').unique()

In [ ]:
gg

In [ ]:
gg.shape[0]

In [ ]:
import math
skc_num_sum = 30
skc_num_grp = 30
range(math.ceil(skc_num_sum / skc_num_grp))

# at

In [ ]:
sale_data.reset_index().at[0,'we']

In [ ]:
sale_data.reset_index(inplace = True)

In [ ]:
sale_data.set_index(['prod_id','size_id'], inplace = True)

In [ ]:
sale_data

In [ ]:
# sale_data.at[('2200','144'), 'we']

In [ ]:
cols_mov = ['prod_id', 'color_id', 'size', 'org_send_id', 'org_rec_id']

    # Moving records
q = pd.DataFrame(columns=cols_mov + ['quant_mov']).set_index(cols_mov)

In [ ]:
q

In [ ]:
cols_stc = ['prod_id', 'color_id', 'size', 'org_id']

In [ ]:
cols_stc[-2]

In [ ]:
sale_data.reset_index()

In [ ]:
test0 = sale_data.index.get_level_values('size_id').unique()

In [ ]:
mub=test0.shape[0]

In [ ]:
mub

In [ ]:
grap = 3

# 分组 math.ceil

In [ ]:
for i in range (math.ceil(mub/grap)):
    print(i)

In [ ]:
sale_data

# dict sum( .values())

In [ ]:
dict1 = {'a': 10, 'b': 2, 'c': 3}

In [ ]:
dict1

In [ ]:
sum(dict1.values())

In [ ]:
pp = pd.DataFrame(dict1, index = ['haha'])

In [ ]:
pp

In [ ]:
pp.T.rename_axis('qt')

In [ ]:
dict2 = {('pro','size'):'10',('pro1','size1'):90}

In [ ]:
dict2

# dict key 有多个值

In [ ]:
dict2[('pro','size')]

In [ ]:
dict2[('pro1','size1')]

In [ ]:
sale_data

In [ ]:
sale_copy = sale_data.copy().rename(columns={'col':'he'})

In [ ]:
sale_copy

In [ ]:
sale_copy.join(sale_data, how = 'outer',rsuffix = '_add')

In [17]:
sale_data

NameError: name 'sale_data' is not defined

In [ ]:
# sale_data.set_index(['prod_id','size_id'])
sale_data.reset_index(inplace = True)

In [ ]:
sale_data

In [ ]:
ca = (sale_data['size_id'] ==144) & (sale_data['sum'] ==2161)

In [ ]:
ca

In [ ]:
sale_data.loc[ca,['col','sum']]

In [ ]:
sale_data['yes'] = 10

In [ ]:
sale_data

In [ ]:
sale_data[(sale_data['we']==4905)]

In [ ]:
sale_data[(sale_data['we']==4905)].index.unique()

# 创建多层列索引 pd.MultiIndex.from_product

In [ ]:
coll = pd.MultiIndex.from_product([['期中','期末'],names = ['语文','数学']])

In [ ]:
coll

In [ ]:
df = pd.DataFrame(data = np.random.randint(2,8, size = (2,4)),
          index = ['yom','kou'],
          columns = coll)

In [ ]:
df

In [ ]:
df['期中']

In [ ]:
df['期末']

In [ ]:
data= [1,2,3]

In [ ]:
a= pd.DataFrame(data)

In [ ]:
a

In [ ]:
max (11, 0)

In [ ]:
max(-1, 0)

# sign

In [ ]:
datalist = [-1, 10, 90, -88, 92, 3, 0, 19, 0]

In [ ]:
np.sign(datalist)

In [ ]:
from dateutil.relativedelta import relativedelta
date + =relativedelta(months=1)

In [ ]:
sale_data

In [ ]:
sale_data.drop_duplicates(['prod_id','size_id'])

# DataFrame.drop_duplicates(subset=None, keep='first', inplace=False)
    subset : column label or sequence of labels, optional 
        用来指定特定的列，默认所有列
    keep : {‘first’, ‘last’, False}, default ‘first’ 
        删除重复项并保留第一次出现的项
    inplace : boolean, default False 
        是直接在原来数据上修改还是保留一个副本

In [ ]:
list1 = [0.1, 21, 232.890]

In [ ]:
list1

In [ ]:
type(list1)

In [ ]:
list2 = np.array(list1)

In [ ]:
list2

In [ ]:
type(list2)

In [ ]:
list3 = list2.astype('int')

In [ ]:
list3

# astype

In [ ]:
list4 = list2.astype('float')

In [ ]:
list4

In [ ]:
# list5 = list1.astype('int')

In [ ]:
sale_data

In [ ]:
sale_copy

In [ ]:
sale_copy.drop([66])

In [ ]:
sale_data.index()

In [ ]:
haha  = sale_copy[sale_copy['we']==4905]

In [18]:
haha

NameError: name 'haha' is not defined

In [ ]:
haha.reset_index(inplace =  True)

In [ ]:
haha

In [ ]:
haha.drop([0])

In [ ]:
sale_data

In [ ]:
sale_data.set_index(['prod_id','size_id'], inplace = True)

In [ ]:
sale_data

In [ ]:
mm = sale_data.loc[sale_data['we']>2400].index

In [ ]:
mm

In [ ]:
sale_data.reset_index(inplace = True)

In [ ]:
sale_copy.reset_index(inplace = True)

In [ ]:
org = sale_data.append(sale_copy,sort = False)

In [ ]:
org

In [ ]:
org['col_on'] =1

In [ ]:
org

In [ ]:
org.set_index('col_on',inplace = True)

In [ ]:
org

In [ ]:
org['sum'].values[1]

# set() 函数创建一个无序不重复元素集，可进行关系测试，删除重复数据，还可以计算交集、差集、并集等   | :并集  &：交集  - ：差集

In [ ]:
a = [1,23,1,2,23]

In [ ]:
a

In [ ]:
b = set(a)

In [ ]:
b

In [ ]:
a1 =[1,3,4,1]

In [ ]:
b1 = set(a1)

In [ ]:
b1

In [ ]:
d = set(a) | set(a1)

In [ ]:
d

In [ ]:
jiaoji = d & set(a1)

In [ ]:
jiaoji

In [ ]:
listk  = [12,3,32,31,32,2]

In [ ]:
list1 = pd.DataFrame(listk, columns=['id1'])

In [ ]:
list1

In [ ]:
a = 6

In [ ]:
b =1

In [ ]:
a

In [ ]:
c = a | b

In [ ]:
c

In [ ]:
d = 100

In [ ]:
mm = d | a

In [ ]:
mm

In [19]:
d

NameError: name 'd' is not defined

In [ ]:
aa=99

In [ ]:
hh = aa | mm

In [ ]:
hh

In [ ]:
hh = mm | aa

In [ ]:
hh

In [ ]:
sale_data

In [ ]:
sale_data.loc [sale_data['Year']>2015]

In [ ]:
sale_data.loc[(sale_data['Year']>2015) | (sale_data['sum']> 2400)]

In [ ]:
sale_data[sale_data['we']>0].set_index('prod_id').index.unique()

In [ ]:
mms = pd.DataFrame()

In [ ]:
if not mms.empty:
    print ('不为空')

In [ ]:
sale_data

In [ ]:
sale_data.groupby(['prod_id']).max()

In [ ]:
list1 = pd.DataFrame(list1)

In [ ]:
list1

In [ ]:
list2 = list1.copy().rename(columns = {'id1':'id2'})

In [ ]:
list2 = pd.DataFrame(list2)

In [ ]:
list2

In [ ]:
d3 = set(list1)

In [ ]:
d3

In [ ]:
d4 = set(list2)

In [ ]:
d4

In [ ]:
d5 = set(list1) | set(list2)

In [ ]:
d5

In [ ]:
d6 = set(list1)

In [ ]:
d6

In [ ]:
d7 = list1 & list2

In [ ]:
d7

# df.update(other, join='left', overwrite=True, filter_func=None, raise_conflict=False)
 
用途：
    # 用另一个DataFrame中的非NA值进行就地修改
 
参数：
    # other：DataFrame，至少有一个匹配的索引/列标签;Series必设name属性
    # join：{'left'}仅实现左连接，保留原始对象的索引和列
    # overwrite =True：处理重叠键(行索引)非NA值：
    #     * True：覆盖原始df值
    #     * False：仅更新原始df中na的值
 
    # filter_func：callable（1d-array） - > boolean 1d-array
    #     可替换NA以外值。返回True表示值应该更新。函数参数作用于df
    # raise_conflict=False：为True，则会在df和other同一位置都是非na值时引发ValueError

In [ ]:
d7

In [ ]:
nw = pd.DataFrame({'id2': [21, 22,23],'C': [24, 25, 26]})

In [ ]:
nw

In [ ]:
d7.update(nw)

In [ ]:
d7

In [ ]:
print('jaj')

In [ ]:
sale_data

In [ ]:
sale_data[:2]

In [ ]:
cols_grp = ['prod_id', 'color_id', 'size']

In [20]:
cols_grp[:2]

NameError: name 'cols_grp' is not defined

# unique()    value_count()

In [ ]:
obj=pd.Series(['c','a','d','a','a','b','b','c','c','c'])

In [ ]:
obj

In [ ]:
obj.unique()

In [ ]:
obj.value_counts()

# isin

In [ ]:
obj.isin(['a','b'])

In [ ]:
sale_data

In [ ]:
saleset = sale_data.set_index(['prod_id','size_id'])

In [ ]:
saleset

In [ ]:
skc =sale_data.set_index(['prod_id','size_id'])

In [ ]:
skc

In [ ]:
sale_copy.set_index(['prod_id'],inplace = True)

In [ ]:
sale_copy.index.unique()

In [ ]:
index1 = sale_copy.index.unique()

In [ ]:
sale_fuzhi = sale_copy[:6]

In [ ]:
sale_fuzhi

In [ ]:
index2 = sale_fuzhi.index.unique()

In [ ]:
index1

In [ ]:
index2

In [ ]:
locindex = index1.isin(index2)

In [ ]:
locindex

# loc[a.index isin b.index]

In [ ]:
sale_data.loc[locindex]

In [ ]:
sale_copy.set_index('prod_id',inplace= True)

In [ ]:
sale_copy

In [ ]:
sale_copy.reset_index()

In [ ]:
sale_copy

In [ ]:
import time

In [ ]:
shijian = time.time()

In [ ]:
pd.to_datetime(shijian)

In [ ]:
type(shijian)

In [ ]:
strkk = "1553817600"

In [ ]:
timeArray = time.localtime(strkk)

In [ ]:
dt.datetime.now()

In [ ]:
 dt.datetime.utcfromtimestamp(strkk)

In [ ]:
astype(strkk)

In [ ]:
sale_data

In [ ]:
sale_data.drop(['week_no'],axis=1,inplace=True)

In [ ]:
sale_data

In [ ]:
sale_data['sum'] = sale_data['date_sell']

In [ ]:
sale_data

In [ ]:
dt.datetime.strptime('2019-02-10', "%Y-%m-%d")

In [ ]:
dt.datetime.strptime('2019-02-10', "%Y-%m-%d").date()-dt.timedelta(days=3)

In [ ]:
import datetime as dt

In [ ]:
DECISION_DATE=dt.date.today()

In [ ]:
DECISION_DATE

In [ ]:
(DECISION_DATE+ dt.timedelta(days=1)).strftime("%Y-%m-%d")