In [1]:
import pickle
import pandas as pd
import datetime as dt

# 期初库存表

In [2]:
i0 = pd.read_pickle('C:\\Users\\liuju\\Desktop\\linezone_model_set\\data0329\\i0.pickle')

In [3]:
i0

                                  i0  r
prod_id     color_id size org_id
11119101014 001      39   0001    37  0
                          2492     3  0
                          2822     5  0
                          3607     2  0
                          3766     1  0
                          3771     2  0
                          5797     2  0
                          6095     4  0
                          6099     3  0
                          7233     4  0
                          7235     3  0
                          7248     2  0
                          7293     2  0
                          7305     5  0
                          7312     3  0
                          7313     2  0
                          7315     3  0
                          7325     3  0
                          7358     1  0
                          7383     1  0
                          7384     1  0
                          7385     2  0
                          7541     4  0
                          8060     2  0
                          8270     1  0
                          8792     1  0
                          9181     3  0
                          9208     1  0
                          9212     0  0
                          9550     1  0
...                               .. ..
12219258561 004      XL   X002     2  0
                          X003     2  0
                          X009     2  0
                          X022     1  0
                          X028     2  0
                          X033     2  0
                          X044     2  0
                          X231     2  0
                          X242     1  0
                          X385     2  0
                          X387     1  0
                          X398     2  0
                          X409     2  0
                          X416     2  0
                          X429     2  0
                          X455     1  0
                          X457     2  0
                          X512     1  0
                          X517     2  0
                          X582     2  0
                          X589     2  0
                          X592     2  0
                          X593     2  0
                          X595     2  0
                          X776     2  0
                          X780     2  0
12219258637 001      2XL  9738     1  0
                     L    9738     2  0
                     M    9738     1  0
                     XL   9738     2  0

[76058 rows x 2 columns]

# 产品信息表

In [4]:
pi = pd.read_pickle('C:\\Users\\liuju\\Desktop\\linezone_model_set\\data0329\\pi.pickle')

In [5]:
pi

                     size  size_order  year season_id class_0
prod_id     color_id
11119101014 001        38           3  2019        Q1      鞋类
            001        39           4  2019        Q1      鞋类
            001        40           5  2019        Q1      鞋类
            001        41           6  2019        Q1      鞋类
            001        42           7  2019        Q1      鞋类
            001        43           8  2019        Q1      鞋类
            001        44           9  2019        Q1      鞋类
            001        45          10  2019        Q1      鞋类
            001        46          11  2019        Q1      鞋类
            001        47          12  2019        Q1      鞋类
            001        48          13  2019        Q1      鞋类
            001        49          14  2019        Q1      鞋类
            001        50          15  2019        Q1      鞋类
            002        38           3  2019        Q1      鞋类
            002        39           4  2019        Q1      鞋类
            002        40           5  2019        Q1      鞋类
            002        41           6  2019        Q1      鞋类
            002        42           7  2019        Q1      鞋类
            002        43           8  2019        Q1      鞋类
            002        44           9  2019        Q1      鞋类
            002        45          10  2019        Q1      鞋类
            002        46          11  2019        Q1      鞋类
            002        47          12  2019        Q1      鞋类
            002        48          13  2019        Q1      鞋类
            002        49          14  2019        Q1      鞋类
            002        50          15  2019        Q1      鞋类
            003        38           3  2019        Q1      鞋类
            003        39           4  2019        Q1      鞋类
            003        40           5  2019        Q1      鞋类
            003        41           6  2019        Q1      鞋类
...                   ...         ...   ...       ...     ...
12219258500 601         L           7  2019        Q2      服装
            601        XL           8  2019        Q2      服装
            601       2XL           9  2019        Q2      服装
            601       3XL          10  2019        Q2      服装
            601       4XL          11  2019        Q2      服装
            601       5XL          12  2019        Q2      服装
12219258561 004       4XS           1  2019        Q2      服装
            004       3XS           2  2019        Q2      服装
            004       2XS           3  2019        Q2      服装
            004        XS           4  2019        Q2      服装
            004         S           5  2019        Q2      服装
            004         M           6  2019        Q2      服装
            004         L           7  2019        Q2      服装
            004        XL           8  2019        Q2      服装
            004       2XL           9  2019        Q2      服装
            004       3XL          10  2019        Q2      服装
            004       4XL          11  2019        Q2      服装
            004       5XL          12  2019        Q2      服装
12219258637 001       4XS           1  2019        Q2      服装
            001       3XS           2  2019        Q2      服装
            001       2XS           3  2019        Q2      服装
            001        XS           4  2019        Q2      服装
            001         S           5  2019        Q2      服装
            001         M           6  2019        Q2      服装
            001         L           7  2019        Q2      服装
            001        XL           8  2019        Q2      服装
            001       2XL           9  2019        Q2      服装
            001       3XL          10  2019        Q2      服装
            001       4XL          11  2019        Q2      服装
            001       5XL          12  2019        Q2      服装

[22667 rows x 5 columns]

# 库存移动事实表

In [6]:
mv = pd.read_pickle('C:\\Users\\liuju\\Desktop\\linezone_model_set\\data0329\\mv.pickle')

In [7]:
mv

                          org_send_id org_rec_id  date_send   date_rec  \
prod_id     color_id size
11117101032 男滑板鞋     39          X416       3131 2018-06-12 2018-06-12
                     40          3131       X416 2018-06-08 2018-06-10
                     40          X416       3131 2018-06-12 2018-06-12
                     40          X416       3131 2018-06-12 2018-06-12
                     40          X416       9623 2018-06-12 2018-06-14
                     41          X416       3131 2018-06-12 2018-06-12
11117101145 男滑板鞋     42          7300       9623 2018-03-03 2018-03-04
11117102143 男微跑鞋     39          0001       3131 2018-04-17 2018-04-17
                     39          0001       3766 2018-04-15 2018-04-15
                     39          0001       7235 2018-04-17 2018-04-17
                     39          0001       X011 2018-04-17 2018-04-17
                     39          0001       X450 2018-04-18 2018-04-18
                     39          7235       9738 2018-05-24 2018-05-26
                     39          7235       9738 2018-05-24 2018-05-26
                     39          9738       X033 2018-06-04 2018-06-16
                     39          9738       X033 2018-06-04 2018-06-16
                     39          9738       X033 2018-06-04 2018-06-16
                     39          9738       X044 2018-06-04 2018-06-17
                     39          X009       X592 2018-07-19 2018-07-27
                     39          X044       X033 2018-07-04 2018-07-05
                     39          X592       X429 2018-07-31 2018-08-01
                     40          0001       3131 2018-04-17 2018-04-17
                     40          0001       3131 2018-07-12 2018-07-12
                     40          0001       3766 2018-04-15 2018-04-15
                     40          0001       7235 2018-04-17 2018-04-17
                     40          0001       X011 2018-04-17 2018-04-17
                     40          0001       X450 2018-04-18 2018-04-18
                     40          7235       9738 2018-05-24 2018-05-26
                     40          9738       X033 2018-06-04 2018-06-16
                     40          9738       X033 2018-06-04 2018-06-16
...                               ...        ...        ...        ...
12218258572 女针织短裤    XL          7312       9743 2018-08-16 2018-08-17
                     XL          7312       X002 2018-05-03 2018-05-07
                     XL          7315       X002 2018-05-23 2018-05-27
                     XL          7385       X516 2018-08-16 2018-08-18
                     XL          7385       X517 2018-05-04 2018-05-05
                     XL          8270       X002 2018-06-21 2018-06-23
                     XL          9181       9743 2018-09-10 2018-09-10
                     XL          9208       5797 2018-08-05 2018-08-06
                     XL          9738       X002 2018-07-04 2018-07-05
                     XL          9743       7541 2018-08-11 2018-08-11
                     XL          9943       9743 2018-07-04 2018-07-05
                     XL          9944       7541 2018-05-03 2018-05-04
                     XL          X002       7541 2018-07-18 2018-07-20
                     XL          X003       3607 2018-07-18 2018-07-19
                     XL          X009       3698 2018-06-20 2018-06-21
                     XL          X022       7385 2018-07-19 2018-07-20
                     XL          X028       8060 2018-07-23 2018-07-25
                     XL          X032       X022 2018-05-04 2018-05-06
                     XL          X033       7541 2018-05-16 2018-05-17
                     XL          X044       8060 2018-06-24 2018-06-25
                     XL          X242       X516 2018-07-04 2018-07-05
                     XL          X398       8270 2018-05-12 2018-05-13
                     XL          X409       9943 2018-05-24 2018-05-25
                     XL          X416       5797 2018-09-10 2018-09-12
                     XL          X429       X416 2018-07-05 2018-07-05
                     XL          X457       3607 2018-07-04 2018-07-06
                     XL          X516       7248 2018-07-22 2018-07-24
                     XL          X516       7385 2018-08-15 2018-08-16
                     XL          X516       7541 2018-09-05 2018-09-06
                     XL          X517       7385 2018-08-02 2018-08-03

                           qty_send  qty_rec
prod_id     color_id size
11117101032 男滑板鞋     39           3        3
                     40           1        1
                     40           1        1
                     40           1        1
                     40           1        1
                     41           2        2
11117101145 男滑板鞋     42           2        2
11117102143 男微跑鞋     39           2        2
                     39           2        2
                     39           2        2
                     39           2        2
                     39           1        1
                     39           1        1
                     39           3        3
                     39           1        1
                     39           1        1
                     39           1        1
                     39           2        2
                     39           2        2
                     39           1        1
                     39           2        2
                     40           8        8
                     40           1        1
                     40           7        7
                     40           4        4
                     40           7        7
                     40           5        5
                     40           3        3
                     40           2        2
                     40           4        4
...                             ...      ...
12218258572 女针织短裤    XL           2        2
                     XL           1        1
                     XL           1        1
                     XL           2        2
                     XL           1        1
                     XL           2        2
                     XL           4        4
                     XL           2        2
                     XL           2        2
                     XL           7        7
                     XL           2        2
                     XL           1        1
                     XL           4        4
                     XL           2        2
                     XL           1        1
                     XL           4        4
                     XL           2        2
                     XL           1        1
                     XL           3        3
                     XL           2        2
                     XL           2        2
                     XL           2        2
                     XL           2        2
                     XL           2        2
                     XL           2        2
                     XL           3        3
                     XL           1        1
                     XL           3        3
                     XL           2        2
                     XL           1        1

[170854 rows x 6 columns]

# 组织信息表

In [8]:
oi = pd.read_pickle('C:\\Users\\liuju\\Desktop\\linezone_model_set\\data0329\\oi.pickle')

In [9]:
oi

       prov_id city_id dist_id mng_reg_id  is_store
org_id
0001        江苏      无锡    None       None         0
2492        浙江     杭州市    None        萧山区         1
2822        浙江     杭州市    None       杭州外区         1
3131        浙江     杭州市    None        萧山区         1
3607        浙江     绍兴市    None        绍兴区         1
3698        浙江     宁波市    None       宁波二区         1
3766        浙江     杭州市    None        杭州区         1
3771        浙江     杭州市    None        萧山区         1
5797        浙江     嘉兴市    None        嘉兴区         1
6095        浙江     杭州市    None       杭州外区         1
6099        浙江     绍兴市    None        绍兴区         1
6814        浙江     杭州市    None        萧山区         1
7233        浙江     杭州市    None        杭州区         1
7235        浙江     杭州市    None        杭州区         1
7248        浙江     湖州市    None        湖州区         1
7293        浙江     嘉兴市    None        嘉兴区         1
7300        浙江     嘉兴市    None        嘉兴区         1
7305        浙江     嘉兴市    None        嘉兴区         1
7312        浙江     宁波市    None       宁波二区         1
7313        浙江     宁波市    None       宁波一区         1
7315        浙江     宁波市    None       宁波二区         1
7321        浙江     宁波市    None       宁波一区         1
7325        浙江     宁波市    None       宁波二区         1
7358        浙江     绍兴市    None        绍兴区         1
7383        浙江     湖州市    None        湖州区         1
7384        浙江     湖州市    None        湖州区         1
7385        浙江     湖州市    None        湖州区         1
7541        浙江     杭州市    None       杭州外区         1
8060        浙江     宁波市    None       宁波一区         1
8270        浙江     宁波市    None       宁波二区         1
...        ...     ...     ...        ...       ...
X242        浙江     湖州市    None        湖州区         1
X305        浙江     嘉兴市    None        嘉兴区         1
X385        浙江     嘉兴市    None        嘉兴区         1
X387        浙江     湖州市    None        湖州区         1
X392        浙江     嘉兴市    None        嘉兴区         1
X398        浙江     宁波市    None       宁波二区         1
X409        浙江     杭州市    None       杭州外区         1
X416        浙江     嘉兴市    None        嘉兴区         1
X429        浙江     嘉兴市    None        嘉兴区         1
X444        浙江     杭州市    None        萧山区         1
X450        浙江     宁波市    None       宁波二区         1
X455        浙江     杭州市    None        杭州区         1
X457        浙江     绍兴市    None        绍兴区         1
X496        浙江     杭州市    None        杭州区         1
X509        浙江     宁波市    None       宁波一区         1
X512        浙江     杭州市    None       杭州外区         1
X516        浙江     湖州市    None        湖州区         1
X517        浙江     湖州市    None        湖州区         1
X523        浙江     杭州市    None        杭州区         1
X548        浙江     杭州市    None        杭州区         1
X582        浙江     宁波市    None       宁波二区         1
X589        浙江     宁波市    None       宁波一区         1
X592        浙江     嘉兴市    None        嘉兴区         1
X593        浙江     宁波市    None       宁波二区         1
X595        浙江     宁波市    None       宁波一区         1
X600        浙江     宁波市    None       宁波一区         1
X776        浙江     宁波市    None       宁波二区         1
X780        浙江     宁波市    None       宁波二区         1
XA0A        浙江     杭州市    None        杭州区         1
XA0B        浙江     嘉兴市    None        嘉兴区         1

[80 rows x 5 columns]

# 销售数据表

In [10]:
s = pd.read_pickle('C:\\Users\\liuju\\Desktop\\linezone_model_set\\data0329\\s.pickle')

In [11]:
s

                                  date_sell    s
prod_id     color_id size org_id
11119101014 001      39   3771   2019-03-18  158
                          3771   2019-03-17   79
                          5797   2019-03-16   79
                          7541   2019-03-26   79
                          8270   2019-03-10   79
                          8792   2019-03-01   79
                          9208   2019-03-20   79
                          9212   2019-03-22   79
                          9550   2019-03-16   79
                          9738   2019-03-28   79
                          X002   2019-03-09   79
                          X032   2019-03-11   79
                          X044   2019-03-10   79
                          X044   2019-03-09   79
                          X398   2019-03-13   79
                          X517   2019-03-09   79
                     40   2492   2019-03-21   79
                          2492   2019-03-16   79
                          2822   2019-03-17  158
                          2822   2019-03-14   79
                          3607   2019-03-18   79
                          3766   2019-03-18   79
                          5797   2019-03-19   79
                          5797   2019-03-12   79
                          5797   2019-03-04   79
                          5797   2019-03-11   79
                          6095   2019-03-17  158
                          8060   2019-03-20   79
                          8792   2019-03-13   79
                          9181   2019-03-24   79
...                                     ...  ...
12219257414 002      XL   3766   2019-03-14   79
12219257416 002      2XL  X033   2019-03-24   79
                     L    X011   2019-03-21   79
                     M    X387   2019-03-26   79
                     XL   3607   2019-03-24   79
                          X398   2019-03-23   79
12219258398 002      M    X387   2019-03-27   79
12219258420 002      2XL  X392   2019-03-23   79
                     XL   X231   2019-03-23   79
12219258561 004      2XL  9944   2019-03-27   79
                          X022   2019-03-19   79
                     L    7541   2019-03-10   79
                          7541   2019-03-11   79
                          9181   2019-03-23   79
                          9944   2019-03-15   79
                          X022   2019-03-19  158
                          X231   2019-03-24   79
                          X387   2019-03-16   79
                          X387   2019-03-14   79
                          X517   2019-03-17   79
                          X592   2019-03-23   79
                     M    7541   2019-03-26   79
                          9944   2019-03-12   79
                          X409   2019-03-23   79
                          X512   2019-03-14   79
                          X517   2019-03-17   79
                     XL   7541   2019-03-25   79
                          8792   2019-03-17   79
                          X022   2019-03-19   79
                          X387   2019-03-16   79

[7622 rows x 2 columns]

# 空表

In [24]:
di = pd.read_pickle('C:\\Users\\liuju\\Desktop\\linezone_model_set\\data0329\\di.pickle')

In [25]:
itp = pd.read_pickle('C:\\Users\\liuju\\Desktop\\linezone_model_set\\data0329\\itp.pickle')

In [26]:
mpa = pd.read_pickle('C:\\Users\\liuju\\Desktop\\linezone_model_set\\data0329\\mpa.pickle')

In [19]:
mss = pd.read_pickle('C:\\Users\\liuju\\Desktop\\linezone_model_set\\data0329\\mss.pickle')

In [20]:
di

Empty DataFrame
Columns: []
Index: []

In [21]:
itp

Empty DataFrame
Columns: []
Index: []

In [22]:
mpa

Empty DataFrame
Columns: []
Index: []

In [23]:
mss

Empty DataFrame
Columns: []
Index: []